@std_pad: 10px;

a
{
    padding: @std_pad;
    @inner_pad: 100px;
    
    .inner
    {
        @std_pad: 50px; //Inner variable scoping //
        padding: @std_pad + 10;
        margin: @inner_pad;
    }
}