[Oo]bj/
[Bb]in/
[Rr]elease/
[Bb]uild/
AssemblyInfo.cs
*.suo
Portal.4.1.resharper
_ReSharper.*
App_Data/Tmp/Uploads/
App_Data/Thumbnails
Portal.Web/App_Data/Indexes/
Log/
Uploads/
*.user
Thumbs.db
gems/lib/*
gems/*.gem
gems/VERSION
_site/
*~
