<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="lessJsProjectDirectory" value="F:\codeessentials\Development\dotless\lib\less.js"/>
    <add key="ignoreFile" value="ignore.txt"/>
    <add key="differencesDirectory" value="F:\codeessentials\Development\dotless\differences"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
