<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="lessJsArchive" value="https://github.com/less/less.js/archive/v1.5.0.zip"/>
    <add key="ignoreFile" value="ignore.txt"/>
    <add key="differencesDirectory" value="differences"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
