<div id="header2">
  <div class="content">
	<h1>Write regular CSS with your .NET apps,</h1>
	<h1>then add a few variables, mixins and nested rules.</h1>

	<p>.less (pronounced dot-less)  is a .NET port of the funky <a href="http://lesscss.org/" title="LESS css">LESS JavaScript libary</a><br /> 
	Lovingly ported by <a href="http://enginechris.wordpress.com/" title="Chris Owen">Christopher Owen</a>, <a href="http://blog.smoothfriction.nl/" title="Erik van Brakel">Erik van Brakel</a>, <a href="http://www.tigraine.at/" title="Daniel Hoelbling">Daniel Hoelbling</a>, <a href="http://github.com/jamesfoster" title="James Foster">James Foster</a> and <a href="http://github.com/agatronic" title="Luke Page">Luke Page</a></p>
  </div>
</div>
