#yelow #short, #yelow #long { color: #ffeeaa; }
#yelow #rgba { color: RGBA(255, 238, 170, .1); }
#blue #short, #blue #long { color: blue; }
#blue #rgba { color: RGBA(0, 0, 255, .1); }
#overflow .a { color: black; }
#overflow .b, #overflow .c { color: white; }
#overflow .d { color: lime; }
