#gradients {
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #444444),color-stop(1, #999999));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#999999');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#999999')";
}
#functions {
  width: 16;
  height: undefined("self");
  border-width: 5;
  prop01: #03070b;
  prop02: #03070b;
  prop03: #beaded;
  prop04: #00ff80;
  prop05: #33cccc;
  prop06: #33cccc;
  prop07: white;
  prop08: 10;
  prop09: 350;
  prop10: 25%;
  prop11: 50%;
  prop12: 100%;
  prop13: 25%;
  prop14: 5;
  prop15: 4;
  prop16: 5;
  prop17: 4.8;
  prop18: 18;
  prop19: 52;
  prop20: 86;
  prop21: 18;
  prop22: 52%;
  prop23: 86%;
  prop24: 1;
  prop25: .34;
  prop26: #1c3456;
  prop27: #123e56;
  prop28: #123460;
  prop29: black;
  prop30: #4c4c4c;
  prop31: #220000;
  prop32: #9e3f3f;
  prop33: #33ff33;
  prop34: #deeded;
  prop35: #ededde;
  prop36: purple;
  prop37: gray;
  prop38: red;
  prop39: blue;
  prop40: #bbbbbb;
  prop41: gray;
  prop42: gray;
  prop43: white;
  prop44: black;
  prop45: #ccbbaa;
  prop46: aqua;
  prop47: red;
  prop48: white;
  prop49: black;
  prop50: abc "def" 'ghi';
}
