#strings {
  background-image: URL("http://son-of-a-banana.com");
  quotes: "~" "~";
  content: "#*%:&^,)!.(~*})";
  empty: "";
}
#comments { content: "/* hello */ // not-so-secret"; }
#single-quote {
  quotes: "'" "'";
  content: '""#!&""';
  empty: '';
}
#escaping-quotes {
  content: "\"";
  content: '\'';
  content: '\'\"';
}