<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
  </configSections>

  <dotless minifyCss="true" cache="true" handleWebCompression="true">
    <plugin name="Rtl">
      <pluginParameter name="onlyReversePrefixedRules" value="false" />
      <pluginParameter name="forceRtlTransform" value="false" />
    </plugin>      
  </dotless>

  <system.webServer>
    <handlers>
      <add name="dotless" verb="*" path="*.less" type="dotless.Core.LessCssHttpHandler" />
    </handlers>
  </system.webServer>
</configuration>
