<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>${Title}</title>
  <meta name="description" content="A .NET port of the ruby less css libary. Dynamic CSS for .net. Dynamic CSS for dotnet.less css the .NET version. LessCss on windows. Less for .NET" />
  <meta name="keywords" content="less, lesscss, .net, less css, css preprocessor, less for .NET, dotnet, c#, c-sharp, c sharp" />
  <link href="css/site.css" rel="stylesheet" type="text/css" />

  <use content="head"/>
</head>
<body>
  <div id="body1">
    <div id="header1">
      <div class="content">
        <ul> 
			<li><a href="/docs.aspx" title="Documentation">Documentation</a></li> 
			<li><a href="http://github.com/dotless/dotless" title="See Source Code">See Source Code</a></li> 
			<li><a href="http://twitter.com/home?status={.LESS}%20extends%20CSS%20with%20variables,%20mixins,%20operations%20and%20nested%20rules%20http://www.dotlesscss.com" title="Tweet about us">Tweet about .Less</a></li> 
			<li><a href="http://groups.google.com/group/dotless" title="Discuss DotLess With Us">Discuss .Less</a></li> 
		</ul>
        <img src="Images/logo.jpg" alt="dotless - a LESS css port for .NET" id="logo"  />
        <a href="${ Url.Action('Index', 'Home') }" title="Dotless - is in beta so please bear us through the issues">
          <img src="Images/beta.png" alt="dotless - is in beta so bear us" id="beta"  />
        </a>
      </div>
    </div>
    {{ content }}
  </div>
  <div id="footer1">
  </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-11138592-1");
        pageTracker._trackPageview();
      } catch (err) { }
  </script>
</body>
</html>
