<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
  </configSections>

  <dotless minifyCss="true" cache="false">
    <plugin name="Rtl">
      <pluginParameter name="onlyReversePrefixedRules" value="false" />
      <pluginParameter name="forceRtlTransform" value="false" />
    </plugin>      
  </dotless>

  <system.web>
    <httpHandlers>
      <add verb="*" path="*.less" validate="false" type="dotless.Core.LessCssHttpHandler" />
    </httpHandlers>
  </system.web>
</configuration>
