<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
  </configSections>
  
  <system.webServer>
        <staticContent>
			 <mimeMap fileExtension=".less" mimeType="text/css" />
			
     </staticContent>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>

  <dotless minifyCss="true" cache="true" web="true">
    
  </dotless>

  <system.web>
    <httpHandlers>
      <add verb="*" path="*.less" validate="false" type="dotless.Core.LessCssHttpHandler" />
    </httpHandlers>
  </system.web>
</configuration>
